#our_jobs {
    padding-bottom: 20px;
    @media (min-width:$screen-md) {
        padding-bottom: 50px;
    }

    & > div {
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
    }

    div {

        .row {

           h2 {
               @include font_Comfortaa;
               color:#f7941e;
               font-size: 24px;
               margin-bottom: 60px;

               @media (min-width:$screen-sm) {
                   margin-top: 70px;
                   font-size: 36px;
               }

               @media (min-width:$screen-md) {
                   font-size: 48px;
                   margin-top: 80px;
               }

               span {
                   border-bottom: 2px solid #009ade;
                   padding-bottom: 5px;
               }

           }
        }


        .filter-holder {
            margin-bottom: 20px;
            ul {
                list-style: none;
                text-align: center;
                @media (min-width:$screen-sm) {
                    text-align: left;
                }
                li {
                    display: inline-block;
                    padding-right: 5px;
                    padding-left: 5px;
                    a{
                        @include font_Comfortaa;
                        font-weight: 400;
                        font-size: 16px;
                        @media (min-width:$screen-sm) {
                            font-size: 20px;
                        }

                        @media (min-width:$screen-md) {
                            font-size: 24px;
                        }
                    }
                }
            }
        }

        .gallery-holder {

            .col-xs-4 {
                width: 50%;
                @media (min-width:$screen-xs) {
                    width: 33.3333%;
                }

            }

            .col-sm-3 {
                @media (min-width:$screen-sm) {
                    width: 25%;
                }
            }

            .photo-holder {
                margin-bottom: 30px;
                a {
                    width: 100%;
                    display:block;
                    img {
                        display: block;
                        max-width: 100%;
                    }
                }


            }
        }
    }
}